/* src/index.css */
@import "node_modules/modern-normalize/modern-normalize.css";

body {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("../src/fonts/Manrope-Regular.ttf") format ("truetype");
  font-weight: regular;
}

p {
  position: relative;
}

p::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  top: 0;
  right: -6px;
  /* background-color: rgba(18, 20, 23, 0.1); */
  background-color: red;
}
